<p-menubar
  [style]="{ backgroundColor: 'transparent', border: 0, paddingTop: '1rem' }"
  [model]="items"
>
  <ng-template pTemplate="start">
    <img src="/assets/logo.png" height="40" class="mr-2 ml-3" />
  </ng-template>
  <ng-template pTemplate="end">
    <div class="flex align-items-center">
      <p-button
        label="Cart"
        class="p-button-text"
        styleClass=" p-button-text"
        icon="pi pi-shopping-cart"
      ></p-button>
      <p-divider styleClass="nav-divider" layout="vertical"></p-divider>
      <p-button
        label="{{ authState ? 'Logout' : 'Login' }}"
        class="p-button-text"
        styleClass=" p-button-secondary"
        icon="{{ authState ? 'pi pi-sign-out' : 'pi pi-sign-in' }}"
        (onClick)="authState ? logout() : login()"
      ></p-button>
    </div>
  </ng-template>
</p-menubar>
<p-dialog
  [(visible)]="visible"
  [draggable]="false"
  [resizable]="false"
  [modal]="true"
  [style]="{ width: '25vw' }"
>
  <ng-template pTemplate="header">
    <h1 class="text-xl font-bold text-center w-full">Ahlan</h1>
  </ng-template>
  <app-register
    *ngIf="state == 'register'"
    (changeStateEvent)="toggleState('login')"
  ></app-register>
  <app-login
    *ngIf="state == 'login'"
    (changeStateEvent)="toggleState('register')"
  ></app-login>
</p-dialog>
