<div class="flex gap-5 lg:flex-row flex-column">
  <div class="flex-1">
    <img [src]="product.image" width="100%" alt="product.name" />
  </div>
  <div class="flex-1 gap-5 flex justify-content-center flex-column">
    <div>
      <h2>{{ product.name }}</h2>
      <p>{{ product.price | currency }}</p>
    </div>
    <p-divider></p-divider>

    <p>{{ product.description }}</p>

    <div>
      <div style="font-size: 0.9rem">
        <span>QTY &nbsp;&nbsp;</span>

        <p-inputNumber
          inputId="integeronly"
          [(ngModel)]="quantity"
          inputStyleClass="w-4rem "
          [max]="5"
        ></p-inputNumber>
        <br />
      </div>
      <p-button
        icon="pi pi-shopping-cart"
        styleClass="p-button-success w-3 mt-2"
        (click)="addToCart(product.id)"
        label="Add to Cart"
      ></p-button>
    </div>
  </div>
</div>
